:root {
    --bg-main: rgb(176, 210, 242);
}

$font-roboto: 'Roboto',
sans-serif;
.bg-grey {
    background: var(--color-grey) !important;
}

.main-color {
    color: #FF7F28;
}

.border-top-opacity {
    border-top: 1px solid #8d988d;
}

* {
    box-sizing: inherit;
}

.p-xs-0 {
    @media (max-width: 420px) {
        padding: 0;
    }
}

html,
body {
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    color: #333;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex: wrap;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1050px
    }
}

.modal-backdrop {
    z-index: 0 !important;
}